Repository Parallel-in-Time/pySDC, pull requests merged in 2024-09, with the labels that each got.

#470 Coverage-report now uses less restricted file-names
  .github/workflows/ci_pipeline.yml
  .github/workflows/postprocess.yml
  .gitlab-ci.yml
Labels: gitlab-mirror, girl scout rule

#477 Added path to download artifacts from Gitlab-CI to
  .github/workflows/gitlab_ci.yml
Labels: gitlab-mirror

#478 Coverage-reports from Gitlab are now found and combined
  .github/workflows/gitlab_ci.yml
Labels: gitlab-mirror

#480 Bugfix in computing absolute value with cupy datatype
  pySDC/implementations/datatype_classes/cupy_mesh.py
Labels: gitlab-mirror, fix

#484 Small cleanup in mesh datatype
  pySDC/implementations/datatype_classes/mesh.py
Labels: girl scout rule

#490 Fixed prepare-commit-msg for ruff git hook
  docs/contrib/02_continuous_integration.md
Labels: fix
